<!-- CSS only -->
<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.1/css/bootstrap.min.css" integrity="sha384-VCmXjywReHh4PwowAiWNagnWcLhlEJLA5buUprzK8rxFgeH0kww/aWY76TfkUoSX" crossorigin="anonymous">

<!-- JS, Popper.js, and jQuery -->
<script src="https://code.jquery.com/jquery-3.5.1.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.1/dist/umd/popper.min.js" integrity="sha384-9/reFTGAW83EW2RDu2S0VKaIzap3H66lZH81PoYlFhbGU+6BZp6G7niu735Sk7lN" crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.1/js/bootstrap.min.js" integrity="sha384-XEerZL0cuoUbHE4nZReLT7nx9gQrQreJekYhJD9WNWhH8nEW+0c5qq7aIo2Wl30J" crossorigin="anonymous"></script>

<div class="container">
    {% if not author %}
        <h1>Your author post does not exist. {{recipe.author.name}}</h1>
    {% else %}
        <h2>{{author.name}}</h2>
        <h3>Has published these recipes</h3>
        {% for recipe in recipes %}
            <h3><a href="/recipe/{{recipe.id}}/">{{recipe.title}}</a></h3>
        {% endfor %}
        <h3>A little about {{author.name}}</h3>
        <p>{{author.bio}}</p>
        <a href="/">Go home</a>
        <h3>Favorite Recipes</h3>
        {% if favorites %}
        <ul>
        {% for favorite in favorites %}
        <li><a href='/recipe/{{favorite.recipe.id}}'>{{favorite.recipe.title}}</a></li>
        {% endfor %}
        </ul>
        {% else %}
        No Favorites Yet
        {% endif %}
    {% endif %}
</div>