<!-- CSS only -->
<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.1/css/bootstrap.min.css" integrity="sha384-VCmXjywReHh4PwowAiWNagnWcLhlEJLA5buUprzK8rxFgeH0kww/aWY76TfkUoSX" crossorigin="anonymous">

<!-- JS, Popper.js, and jQuery -->
<script src="https://code.jquery.com/jquery-3.5.1.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.1/dist/umd/popper.min.js" integrity="sha384-9/reFTGAW83EW2RDu2S0VKaIzap3H66lZH81PoYlFhbGU+6BZp6G7niu735Sk7lN" crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.1/js/bootstrap.min.js" integrity="sha384-XEerZL0cuoUbHE4nZReLT7nx9gQrQreJekYhJD9WNWhH8nEW+0c5qq7aIo2Wl30J" crossorigin="anonymous"></script>

<div class="container">
    {% if not recipe %}
        <h1>Your requested post does not exist. {{recipe.id}}</h1>
    {% else %}
        <h2>{{recipe.title}}</h2>
        <h4><a href="/author/{{recipe.author.id}}/">{{recipe.author.name}}</a></h4>
        <p>{{recipe.about}}</p>
        <ul>
            <li>Time to make: {{recipe.time_to_make}} </li>
            <li>Ingredients: {{recipe.ingredients}} </li>
            <li>Equipment: {{recipe.equipment}} </li>
            <li>Steps: {{recipe.steps}} </li>
        </ul>
        <p>Posted: {{recipe.post_date}}</p>
        {% if request.user.is_authenticated %}
        <p><a href="/add_favorite/{{recipe.id}}">Add Favorite</a></p>
        <p><a href="/remove_favorite/{{recipe.id}}">Remove Favorite</a></p>
        {% endif %}
        <p><a href="/recipe/{{recipe.id}}/edit/">Edit</a></p>
        <a href="/">Go home</a>
        {% endif %}
</div>